body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#0f172a,#111827);
    color:white;
}

.container{
    width:520px;
    max-width:92%;
    margin:60px auto;
    background:#1e293b;
    padding:30px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,0.35);
}

h1{
    margin-bottom:8px;
    color:#38bdf8;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:25px;
}

input{
    margin:15px 0;
}

button{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:700;
    margin-top:10px;
    background:#38bdf8;
    color:#0f172a;
}

button:hover{
    transform:translateY(-1px);
}

#loading{
    margin-top:18px;
    font-weight:bold;
    color:#facc15;
}

#result{
    margin-top:22px;
    text-align:left;
    background:#334155;
    padding:18px;
    border-radius:12px;
    display:none;
}

.low{color:#22c55e;}
.medium{color:#f59e0b;}
.high{color:#ef4444;}

#downloadBtn{
    display:none;
    margin-top:18px;
    background:#22c55e;
    color:white;
}